<div class="content">
  <mat-card>
    <mat-card-content>
      <div class="label">Checkout</div>
      <div class="empty-cart" *ngIf="cartData.orderProducts.length === 0">
        <div>Your cart is empty. To add some products click here:
          <button mat-raised-button routerLink="/menu">Add to cart</button>
        </div>
      </div>
      <div *ngIf="cartData.orderProducts.length > 0">
      <table mat-table [dataSource]="cartData.orderProducts" class="mat-elevation">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let element"> <div class="large-text">{{element.product.name}}</div>
                <span  class="ingredients-list" *ngFor="let ingredient of element.product.ingredients let last = last">
              &nbsp; {{ingredient.name}}{{last? '': ','}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity</th>
          <td mat-cell *matCellDef="let element"><div class="large-text">{{element.quantity}}</div></td>
          </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"><div class="large-text">{{element.product.price | currency : 'USD'}}</div></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="summary">
          <div class ="totalPrice-text">TOTAL: </div>
          <div class ="totalPrice-text">{{cartData.totalPrice | currency : 'USD'}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-raised-button (click)="placeOrder()">Place Order</button>
          <button mat-raised-button routerLink="/menu">Edit cart</button>
        </div>
      </div>
      </div>
    </mat-card-content>
</mat-card>
</div>
