<form [formGroup]="productForm" >
  <div class="recipe-dialog">
    <mat-dialog-content>

      <mat-dialog-title color="primary">
        <div class="large-text">Add product</div>
      </mat-dialog-title>
      <mat-divider></mat-divider>
      <div fxLayout="column">

        <mat-form-field>
          <input
            autocomplete="off"
            matInput
            formControlName="name"
            placeholder="Product name">
          <mat-error *ngIf="productForm.get('name').hasError('required')">Name is required</mat-error>
          <mat-error *ngIf="alreadyExists == true">Name is required</mat-error>

        </mat-form-field>
        <mat-form-field>
          <input
            autocomplete="off"
            matInput
            formControlName="price"
            placeholder="Set price"
            type="number">
          <mat-error *ngIf="productForm.get('price').hasError('required')">Price is required</mat-error>
        </mat-form-field>

        <div class="uploadContainer">
          <mat-button mat-icon-button (click)="fileInput.click()">
            <div class="sendFile"><mat-icon style="color: '#6772E5'">cloud_upload</mat-icon></div>
            <input  #fileInput type="file" accept="image/png,image/jpeg" (change)="selectFile($event)" style="display:none;">
          </mat-button>

          <mat-form-field>
            <input
              autocomplete="off"
              matInput
              formControlName="fileName"
              placeholder="Upload an image of recipe"
              value="{{currentFileUpload?.name}}"
              readonly
            />
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button (click)="close()">Close</button>
      <button mat-raised-button class="saveButton" (click)="save()">Save</button>
    </mat-dialog-actions>
  </div>
</form>




