<div class="container">
  <mat-card class="correctRegistration-card">
    <mat-card-content>
      <mat-icon class="correct-icon">check_circle</mat-icon>
      User has been register successfully.
    </mat-card-content>
    <mat-card-content>
      <h5>You will be redirected in 3 seconds and now you can log in or click:</h5>
      <div fxLayout="column">
        <button mat-raised-button class="login-button" routerLink="/login">Log in</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
