<div class="content">
  <h2>Products list</h2>

  <mat-form-field>
    <mat-label>Choose a category</mat-label>
    <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange($event)" >
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-divider></mat-divider>

  <div *ngIf="selectedCategory == null">
    <mat-card>
      <mat-card-content>
        <h1 style="text-align: center">No any products on the list. Please choose category of products.</h1>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="selectedCategory != null">
    <mat-card>
      <mat-card-content>
        <mat-table matSort [dataSource]="products">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let row"><div class="large-text"> {{row.name}}</div> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let row"> <div class="large-text">{{row.price | currency : 'USD'}} </div></mat-cell>
          </ng-container>

          <ng container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let row"><button mat-icon-button (click)="editProduct(row)"><mat-icon style="color: #6772E5">create</mat-icon></button>
              <button mat-icon-button (click)="deleteProductById(row.id)"><mat-icon style="color: red">delete</mat-icon></button>

            </mat-cell>
          </ng>
          <mat-header-row *matHeaderRowDef="[ 'name', 'price', 'actions']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: [ 'name', 'price', 'actions']"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>



</div>
<button class="floatingButton" (click)="openProductDialog(this.selectedCategory)">
  <mat-icon>add</mat-icon></button>
