.login-card{
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  text-align: center;

}
.login-container{
  width: 100%;
  height: 100%;
}
.mat-raised-button{
  padding: 1px;
}
.button{
  background-color: #448AFF;
  color: white;
}
