<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title><h1>Log in</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" >
          <mat-error *ngIf="this.isLoggedIn == true">You are already logged in.</mat-error>
          <mat-error *ngIf="this.isSignInFailed == true">{{errorMessage}}</mat-error>
          <mat-form-field>
            <input
              autocomplete="off"
              matInput
              formControlName="email"
              placeholder="Email"/>
            <mat-error *ngIf="this.loginForm.get('email').hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="this.loginForm.get('email').hasError('email')">Email must looks like email</mat-error>
          </mat-form-field>
        <mat-form-field>
          <input
            autocomplete="off"
            matInput
            formControlName="password"
            placeholder="Password"
            type="password"/>
          <mat-error *ngIf="this.loginForm.get('password').hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button class="button" (click)="login()">Login</button>
          <button mat-raised-button class="button" routerLink="/register">Register</button>
        </mat-card-actions>
      </form>
    </mat-card-content>

  </mat-card>
</div>


