.toolbar{
  background-color: #448AFF;
}
.spacer {
  flex: 1 1 auto;
}
.spacer2{
  margin-right: 10px;
}
//.text-white{color:#fff!important}
.logo{
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  outline: none;
  height: 64px;
}
