<!--<mat-form-field class="example-chip-list">-->
<!--  <mat-chip-list #chipList>-->
<!--    <mat-chip *ngFor="let ingredient of ingredients" [selectable]="selectable"-->
<!--              [removable]="removable" (removed)="remove(ingredient)" >-->
<!--      {{ingredient.name}}-->
<!--      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
<!--    </mat-chip>-->
<!--    <input placeholder="Add ingredients"-->
<!--           [matChipInputFor]="chipList"-->
<!--           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--           [matChipInputAddOnBlur]="addOnBlur"-->
<!--           (matChipInputTokenEnd)="add($event)">-->
<!--  </mat-chip-list>-->

<!--</mat-form-field>-->
